@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,800,700&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

a{
    text-decoration: none;
    color: black;
}

.blue_button{
    background-color: #5E5DF0;
    color: white;
    border-radius: 99px;
    border: none;
    outline-width: none;
    padding: 10px 25px;
    width: auto;
    font-family: 'Inter';
    font-size: 16px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: 0 10px 20px -10px #6e79d6;
}
.blue_button:hover{
    box-shadow: none;
    transform: translateY(-2px);
    cursor: pointer;
}

.display_flex_space{
    display: flex;
    justify-content: space-between;
}